body {
    background: #A9CEF4;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
    color: #2B6CA9;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #657ea1;
    font: weight 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #2B6CA9;
}

#mainNavbar .navbar-brand {
    color: #2B6CA9;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #2B6CA9
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
}

.navbar.scrolled {
    background: #9fc1e2;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 2.5rem;
    }
}
